# Telegram
BOT_TOKEN=
DEBUG=false

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tg_remider
POSTGRES_HOST=reminder-docker
POSTGRES_PORT=5432

# Goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@reminder-docker:5432/tg_reminder?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations

# Logger
LOG_LEVEL=DEBUG
